@media (min-width: 1000px) {
    .main {
        height: 100vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        section {
            width: 42%;
        }
    }

    .resultsSection {
        height: 65vh;
        margin-top: 0;
    }
}