@mixin font(
    $fontSize,
    $family:$paragraphFont,
    $fontWeight,
    $color:white) {
        font-size: $fontSize;
        font-family: $family;
        font-weight: $fontWeight;
        color: $color;
    }