@import 'setup';
@import 'variables';
@import 'mixins';

body {
    background-image:
        linear-gradient(rgba(255, 255, 255, 0.1)),
        url(../assets/niceCoffeePic.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.main { //to add "opacity" to image
    height: 100vh;
    background-color: rgba(114, 76, 48, 0.35);
}

.wrapper {
    max-width: 1200px;
    width: 85%;
    margin: 0 auto;
}

i {
    font-size: 6rem;
    color: #268b98d2;
    text-align: center;
}

h1 {
    @include font(8rem, $headerFont, 600);
    text-align: center;
    padding: 180px 0 20px;
    letter-spacing: 5px;
    -webkit-text-stroke: 1.8px rgba(114, 76, 48);    

}

h2,
h3 {
    @include font(3rem, $headerFont, 600);
    text-align: center;
}

p,
label,
a {
    @include font(2.5rem, $paragraphFont, 400);
    padding: 12px 0;    
}

p {
 font-weight: 600;
  -webkit-text-stroke: 1.4px black;
  font-size: 3rem;
}

select,
button {
    @include font(2rem, $paragraphFont, 400);
    // display: block;
    background-color: rgba(255, 140, 0, 0.81);
    border: 1px solid rgba(114, 76, 48, 1);
    margin: 5px 0;
    padding: 5px;
    -webkit-text-stroke: .4px black;
    font-size: 2.5rem;    
}

section {
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-wrap: wrap;
    label {
        width: 100%;
    }
    select {
        width: calc(70% - 5px);
        margin-right: 5px;
    }
    button {
        width: 30%;
    }
}

.resultsSection {
    background-color: rgba(114, 76, 48, 0.5);
    border-radius: 10px;
    min-height: 250px;
    height: 45vh;
    margin-top: 15px;
    padding: 20px;
    text-align: center;
    ul {
        overflow-y: scroll;
        scroll-behavior: smooth;
        padding-top: 20px;
        // Add an indication for user to scroll down?
        li {
            padding-bottom: 20px;
            margin: auto;
            h3 {
                padding-bottom: 5px;
            }
            a:hover,
            a:focus {
                border-bottom: 3px groove #268B98;
            }
        }
    }
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.25)
}

@import 'mediaQueries';