@import 'setup';
@import 'variables';
@import 'mixins';

body {
    background-image:
        // linear-gradient(rgba(255, 255, 255, 0.2)),
        linear-gradient(rgba(114, 76, 48, 0.35)),
        url(../assets/niceCoffeePic.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.wrapper {
    max-width: 1200px;
    width: 85%;
    margin: 0 auto;
}

section {
    display: flex;
    flex-direction: column;
}

h1 {
    @include font(5rem, $headerFont, 600);
    letter-spacing: 5px;
    text-align: center;
    padding-top: 30px;
    -webkit-text-stroke: 1px rgba(114, 76, 48);   
}

i {
    font-size: 4.75rem;
    color: #268b98d2;
    text-align: center;
    padding: 10px 0;
}

h2 {
    @include font(3rem, $headerFont, 600);
    text-align: center;
    margin-bottom: 10px;
}


p {
    @include font(2rem, $paragraphFont, 400);
    // font-weight: 600;
    background-color: rgba(114, 76, 48, 0.5);
    border-radius: 10px;
    padding: 15px;
    // -webkit-text-stroke: 0.4px black;
}

form {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(255, 140, 0, 0.81);
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px 15px;
    label {
        width: 100%;
    }
    select {
        width: calc(65% - 5px);
        margin-right: 5px;
    }
    button {
        width: 35%;
    }
}

label {
    text-align: center;
    @include font(2rem, $paragraphFont, 700);
    letter-spacing: 2px;
    padding: 12px 0;    
}

select,
button {
    @include font(1.75rem, $paragraphFont, 400);
    letter-spacing: 1px;
    background-color: saddlebrown;
    border: 1px solid rgba(114, 76, 48, 1);
    margin: 5px 0;
    padding: 5px;
    // -webkit-text-stroke: .4px black;
}

a {
    text-align: center;
    @include font(2rem, $paragraphFont, 400);
}

.resultsSection {
    background-color: rgba(114, 76, 48, 0.5);
    border-radius: 10px;
    min-height: 250px;
    height: 40vh;
    margin: 15px 0;
    padding: 20px;
    text-align: center;
    ul {
        overflow-y: scroll;
        scroll-behavior: smooth;
        padding-top: 20px;
        li {
            padding-bottom: 20px;
            margin: auto;
            h3 {
                @include font(2.5rem, $headerFont, 400);
                text-align: center;
                padding-bottom: 5px;
            }
            a:hover,
            a:focus {
                border-bottom: 3px groove #268B98;
            }
        }
    }
}

footer {
    width: 100%;
    text-align: center;
    padding: 10px;
}

@import 'mediaQueries';