@import 'setup';
@import 'variables';
@import 'mixins';
@import 'mediaQueries';

body {
    background-image: url(../assets/niceCoffeePic.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.wrapper {
    max-width: 1200px;
    width: 85%;
    margin: 0 auto;
}

i {
    font-size: 6rem;
    color: #268B98;
}

div {
    display: flex;
    justify-content: space-around;
    i:nth-child(2n) {
        padding-top: 0;
        font-size: 75px;
        color: red;
    }
}

h1 {
    @include font(4rem, $headerFont, 600);
    text-align: center;
    font-family: $headerFont;
}

h2,
h3 {
    @include font(2rem, $headerFont, 600);
    text-align: center;
}

p,
label,
a {
    @include font(1.5rem, $paragraphFont, 400)
}

select,
button {
    @include font(1.5rem, $paragraphFont, 400);
    // display: block;
    background-color: darkorange;
    border: 2px solid rgba(114, 76, 48, 1);
    margin: 5px 0;
    padding: 5px;
}

section {
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-wrap: wrap;
    label {
        width: 100%;
    }
    select {
        width: calc(70% - 5px);
        margin-right: 5px;
    }
    button {
        width: 30%;
    }
}

.resultsSection {
    background-color: rgba(114, 76, 48, 0.5);
    border-radius: 10px;
    min-height: 100px;
    padding: 20px;
    text-align: center;
    li {
        padding-bottom: 15px;
        h3 {
            padding-bottom: 5px;
        }
        a:hover,
        a:focus {
            border-bottom: 2px groove #268B98;
        }
    }
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}