html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
a {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-size: 62.5%;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
}

h1 {
  margin: 0;
}

body {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(114, 76, 48, 0.35))), url(../assets/niceCoffeePic.jpg);
  background-image: linear-gradient(rgba(114, 76, 48, 0.35)), url(../assets/niceCoffeePic.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.wrapper {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

h1 {
  font-size: 5rem;
  font-family: "Tourney", cursive;
  font-weight: 600;
  color: white;
  letter-spacing: 5px;
  padding-top: 30px;
  -webkit-text-stroke: 1px #724c30;
}

i {
  font-size: 4.75rem;
  color: #268b98d2;
  padding: 10px 0;
}

h2 {
  font-size: 3rem;
  font-family: "Tourney", cursive;
  font-weight: 600;
  color: white;
  margin-bottom: 10px;
}

p {
  font-size: 2rem;
  font-family: "Inconsolata", monospace;
  font-weight: 400;
  color: white;
  background-color: rgba(114, 76, 48, 0.5);
  border-radius: 10px;
  padding: 15px;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: rgba(255, 140, 0, 0.81);
  border-radius: 10px;
  margin-top: 10px;
  padding: 10px 15px;
}
form label {
  text-align: center;
  width: 100%;
  font-size: 2rem;
  font-family: "Inconsolata", monospace;
  font-weight: 700;
  color: white;
  letter-spacing: 2px;
  padding: 12px 0;
}
form select {
  width: calc(65% - 5px);
  margin-right: 5px;
}
form button {
  width: 35%;
}

select,
button {
  font-size: 1.75rem;
  font-family: "Inconsolata", monospace;
  font-weight: 400;
  color: white;
  letter-spacing: 1px;
  background-color: saddlebrown;
  border: 1px solid #724c30;
  margin: 5px 0;
  padding: 5px;
}

a {
  text-align: center;
  font-size: 2rem;
  font-family: "Inconsolata", monospace;
  font-weight: 400;
  color: white;
}

.resultsSection {
  background-color: rgba(114, 76, 48, 0.5);
  border-radius: 10px;
  min-height: 250px;
  height: 40vh;
  margin: 15px 0;
  padding: 20px;
  text-align: center;
}
.resultsSection ul {
  overflow-y: scroll;
  scroll-behavior: smooth;
  padding-top: 20px;
}
.resultsSection ul li {
  padding-bottom: 20px;
}
.resultsSection ul li h3 {
  font-size: 2.5rem;
  font-family: "Tourney", cursive;
  font-weight: 400;
  color: white;
  padding-bottom: 5px;
}
.resultsSection ul li a:hover,
.resultsSection ul li a:focus {
  border-bottom: 3px groove #268B98;
}

footer {
  width: 100%;
  text-align: center;
  padding: 10px;
}

@media (min-width: 1050px) {
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 100px;
  }
  main section {
    width: 49%;
  }

  h1 {
    font-size: 8rem;
    padding-top: 0;
  }

  i {
    font-size: 6rem;
  }

  h2,
h3,
p {
    font-size: 3rem;
  }

  form label,
a,
select,
button {
    font-size: 2.5rem;
  }

  p {
    -webkit-text-stroke: 0.4px black;
  }

  .resultsSection {
    height: 75vh;
    margin: 0;
  }

  footer {
    position: absolute;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.2);
  }
}